name: Build & Release

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Install wasm-pack
      uses: jetli/wasm-pack-action@v0.4.0
      with:
        version: 'latest'
    - name: Install Pixi
      uses: prefix-dev/setup-pixi@v0.8.1
      with:
        cache: true
    - name: Build WASM
      run: pixi run build
    - name: Upload Artifacts
      uses: actions/upload-artifact@v4
      with:
        name: pkg
        path: quickfix-renderer/pkg
